song{
	color: #513859;
	font-size: 30px;
	font-family: Georgia;
	margin: 35px;
}

title{ font-weight: bold; margin: 15px;};


artist{
	margin: 35px;
}

year{
	margin: 15px;
}

song::after{
	content: "\a";
	white-space: pre;

}

songs{ background-color: #ececec; padding-top: 40px; line-height: 200%;};
